<!DOCTYPE html>
<html>
<head>
  <title>小鹿线后台管理系统</title>
  <link rel='stylesheet' href='/stylesheets/common.css' />
  <style>
  body{
    background: #15151D;
  }
  .main{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#fff;
  }
  </style>
</head>
<body>


<div class="main">
  <div><img src="/images/pic_shouye.png" alt=""></div>
  <h1>欢迎进入到后台管理系统</h1>
</div>


</body>
</html>
